$font: "Roboto", sans-serif;
$span-font: "Pacifico", cursive;
$main-font-weight: 100;
$font-color: rgba(240, 246, 252, 0.829);
$btn-background: rgba(17, 116, 17, 0.404);
$btn-border-color: rgba(144, 238, 144, 0.541);
$btn-hover-background: rgba(5, 146, 5, 0.801);
$nav-text-color: rgba(240, 246, 252, 0.911);
$nav-background-color: #161b22;
$darkest-bg: #0d1117;

.page-wrapper-home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  font-family: $font;
  color: $font-color;
  font-weight: $main-font-weight;

  .heading {
    background: url("../../images//homebg.jpg");
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;

    .heading-text {
      margin-left: 25px;
      margin-top: 125px;
      text-shadow: 2px 2px 2px black;

      .checkout-btn {
        height: 50px;
        width: 300px;
        background-color: $btn-background;
        border: 1px solid $btn-border-color;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $font-color;
        font-size: 20px;
        text-decoration: none;

        &:hover {
          background-color: $btn-hover-background;
        }
      }

      span {
        color: $btn-hover-background;
        font-family: $span-font;
      }
    }
  }

  main {
    height: 450px;
    width: 100%;
    background-color: $font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $darkest-bg;

    .main-header {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $btn-hover-background;
    }

    .card-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      margin-top: 25px;
      padding-left: 10px;
      padding-right: 10px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;

        h6 {
          font-size: 16px;
        }

        span {
          color: $btn-hover-background;
          font-family: $span-font;
        }
      }
    }
  }

  section {
    height: 700px;
    width: 100%;
    background: url("../../images/homebottom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
      position: fixed; /* Sit on top of the page content */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }
  }

  footer {
    height: 100px;
    width: 100%;
    background-color: $nav-background-color;
  }
}

@media screen and (max-width: 768px) {
  .page-wrapper-home {
    .heading {
      .heading-text {
        .checkout-btn {
          background-color: rgba(5, 146, 5, 0.856);
        }
      }
    }

    main {
      height: 100%;
      .card-container {
        display: flex;
        flex-direction: column;
        .card {
          width: 95%;
          padding: 10px 0px 5px 10px;
          margin-bottom: 10px;
        }
      }
    }

    footer {
      font-size: 12px;
    }
  }
}
