$nav-text-color: rgba(240, 246, 252, 0.911);
$nav-background-color: #161b22;
$btn-background: rgba(17, 116, 17, 0.404);
$btn-border-color: rgba(144, 238, 144, 0.541);
$btn-hover-background: rgba(5, 146, 5, 0.801);

header {
  color: $nav-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: $nav-background-color;

  h1 {
    font-weight: 400;
  }

  h3 {
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    color: $nav-text-color;
  }

  .nav-item {
    text-decoration: none;
    background-color: $btn-background;
    width: 7rem;
    padding: 0.5rem;
    height: 2rem;
    border: 1px solid $btn-border-color;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      animation: grow 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes grow {
  0% {
    background-color: $btn-background;
    transform: scale(1);
  }
  100% {
    background-color: $btn-hover-background;
    transform: scale(1.05);
  }
}
